@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    background-color: #F0EBF4;
    color: #000000;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(https://t4.ftcdn.net/jpg/04/20/45/97/240_F_420459720_0AAnXo7K8J3s3xlyevozP5qaKio9n84d.jpg);
    background-size: contain;
    background-repeat: repeat;
}




/* .main {
    padding: 16px;
    flex-wrap: wrap;
} */

.text-box, .ingredients-box, .steps-box {
    border: 2px solid #A1C3D1;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    box-sizing: border-box;
}

.ingredients-box table,
.steps-box table {
    width: auto;
    max-width: 100%;
}


.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipe {
    max-width: 30vw;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
}

 .recipe img {
     max-width: 50%;
     height: auto;
 }

 .recipe:hover {
     background-color: #B39BC8;
 }

/* Symbols */
.heart::before {
    content: "\2665";
    color: #faf2fa;
    font-size: 20px;
    margin-right: 5px;
}

.stars::before {
    content: "\2605";
    color: #EE00EE;
    font-size: 20px;
    margin-right: 5px;
}

.fingers::before {
    content: "\1F595";
    color: #f4eef4;
    font-size: 20px;
    margin-right: 5px;
}

/* images */
.image-container {
    max-width: 60%;
    overflow: hidden;
    display: block;
}

.italicize {
    font-style: italic;
}

h2 strong {
    font-weight: bold;
}


.ingredients-box img,
.ingredients-box img {
    max-width: 40%;
    height: 40px;
    display: block;
}

.ingredients-box table {
    width: 100%;
    border-collapse: collapse;
}

.ingredients-box th,
.ingredients-box td {
    border: 1px solid #A1C3D1;
    padding: 10px;
    text-wrap: wrap;
}

.ingredients-box tbody tr:nth-child(odd)
{
    background-color: #e1dcea;
}

.steps-box table {
    width: 100%;
    border-collapse: collapse;
}

.steps-box th,
.steps-box td {
    border: 1px solid #A1C3D1;
    padding: 10px;
    text-align: left;
}

.steps-box tbody tr:nth-child(odd)
{
    background-color: #e1dcea;
}

.ingredients-box h2, .steps-box h2 {
    color: #B39BC8;
}


img {
    height: 200px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

img:hover {
    opacity: 0.7;
    transform: rotate(10deg);
}

.shadowed-img {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }


nav {
    background-color: #B39BC8;
    color: #FFFFFF;
    border-bottom: 1px;
    padding: 16px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

a:hover {
    color: #31D631;
}

footer {
    background-color: #B39BC8;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
